## Bank Customer Churn Prediction using Artificial Neural Networks (ANN) (D.L-supervised learning)

### Importing the libraries

In [6]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [7]:
data=pd.read_csv('D:\FC practical work\Machine Learning\DEEP learning notes of udemy\Machine Learning A-Z (Codes and Datasets)\Part 8 - Deep Learning\Section 39 - Artificial Neural Networks (ANN)\Python\Churn_Modelling.csv')

In [8]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## Part 1 - Data Preprocessing

In [9]:
df=data.drop(['RowNumber', 'CustomerId','Surname'], axis=1)
x=df.drop(['Exited'], axis=1)
y=data['Exited']

In [10]:
data.shape

(10000, 14)

In [11]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [12]:
data.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [13]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

### Encoding categorical data

In [14]:
from sklearn.preprocessing import *
le=LabelEncoder()
y= le.fit_transform(y)

In [15]:
x['Geography']=le.fit_transform(x['Geography'])
x['Gender']=le.fit_transform(x['Gender'])
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [16]:
df['Geography'].unique

<bound method Series.unique of 0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object>

In [17]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [18]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

### Splitting the dataset into the Training set and Test set

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

### Feature Scaling

In [20]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [21]:
ann=tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [22]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [23]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [24]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [25]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [26]:
ann.fit(x_train, y_train, batch_size = 30, epochs = 100)

Epoch 1/100
234/234 [==============================] - 2s 2ms/step - loss: 0.9871 - accuracy: 0.3313
Epoch 2/100
234/234 [==============================] - 1s 2ms/step - loss: 0.6529 - accuracy: 0.7051
Epoch 3/100
234/234 [==============================] - 1s 2ms/step - loss: 0.5923 - accuracy: 0.7963
Epoch 4/100
234/234 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7993
Epoch 5/100
234/234 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7997
Epoch 6/100
234/234 [==============================] - 1s 2ms/step - loss: 0.5112 - accuracy: 0.8007
Epoch 7/100
234/234 [==============================] - 1s 3ms/step - loss: 0.4783 - accuracy: 0.8089
Epoch 8/100
234/234 [==============================] - 1s 2ms/step - loss: 0.4496 - accuracy: 0.8167
Epoch 9/100
234/234 [==============================] - 1s 2ms/step - loss: 0.4342 - accuracy: 0.8206
Epoch 10/100
234/234 [==============================] - 1s 2ms/step - loss: 0.4256 - accuracy: 0.8259
Epoch 11/100
234/234 [==============================] - 1s 2ms/step - loss: 0.4189 - accuracy: 0.8271
Epoch 12/100
234/234 [==============================] - 1s 2ms/step - loss: 0.4120 - accuracy: 0.8316
Epoch 13/100
234/234 [==============================] - 1s 2ms/step - loss: 0.4046 - accuracy: 0.8336
Epoch 14/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3947 - accuracy: 0.8414
Epoch 15/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3816 - accuracy: 0.8466
Epoch 16/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3718 - accuracy: 0.8491
Epoch 17/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3664 - accuracy: 0.8517
Epoch 18/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3632 - accuracy: 0.8524
Epoch 19/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3609 - accuracy: 0.8526
Epoch 20/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3596 - accuracy: 0.8521
Epoch 21/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3583 - accuracy: 0.8537
Epoch 22/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3574 - accuracy: 0.8541
Epoch 23/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3560 - accuracy: 0.8526
Epoch 24/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3552 - accuracy: 0.8546
Epoch 25/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3548 - accuracy: 0.8559
Epoch 26/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3542 - accuracy: 0.8569
Epoch 27/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3535 - accuracy: 0.8566
Epoch 28/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3527 - accuracy: 0.8569
Epoch 29/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3530 - accuracy: 0.8567
Epoch 30/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3520 - accuracy: 0.8576
Epoch 31/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3521 - accuracy: 0.8581
Epoch 32/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3516 - accuracy: 0.8584
Epoch 33/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3511 - accuracy: 0.8577
Epoch 34/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3511 - accuracy: 0.8567
Epoch 35/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3509 - accuracy: 0.8587
Epoch 36/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3501 - accuracy: 0.8611
Epoch 37/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3500 - accuracy: 0.8581
Epoch 38/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8586
Epoch 39/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8586
Epoch 40/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3489 - accuracy: 0.8603
Epoch 41/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8571
Epoch 42/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8606
Epoch 43/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8600
Epoch 44/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3480 - accuracy: 0.8587
Epoch 45/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8596
Epoch 46/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3478 - accuracy: 0.8597
Epoch 47/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3479 - accuracy: 0.8596
Epoch 48/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3471 - accuracy: 0.8604
Epoch 49/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3476 - accuracy: 0.8591
Epoch 50/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3470 - accuracy: 0.8606
Epoch 51/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3470 - accuracy: 0.8601
Epoch 52/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3466 - accuracy: 0.8610
Epoch 53/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3461 - accuracy: 0.8613
Epoch 54/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3463 - accuracy: 0.8591
Epoch 55/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3462 - accuracy: 0.8590
Epoch 56/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3460 - accuracy: 0.8611
Epoch 57/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8603
Epoch 58/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3459 - accuracy: 0.8597
Epoch 59/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3454 - accuracy: 0.8589
Epoch 60/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3452 - accuracy: 0.8593
Epoch 61/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8596
Epoch 62/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8623
Epoch 63/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3447 - accuracy: 0.8587
Epoch 64/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8596
Epoch 65/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3447 - accuracy: 0.8596
Epoch 66/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8600
Epoch 67/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3447 - accuracy: 0.8599
Epoch 68/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8593
Epoch 69/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8600
Epoch 70/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8579
Epoch 71/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8599
Epoch 72/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8586
Epoch 73/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8604
Epoch 74/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3446 - accuracy: 0.8593
Epoch 75/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8589
Epoch 76/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8583
Epoch 77/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8586
Epoch 78/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8590
Epoch 79/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3440 - accuracy: 0.8604
Epoch 80/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3442 - accuracy: 0.8581
Epoch 81/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8580
Epoch 82/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8601
Epoch 83/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3440 - accuracy: 0.8596
Epoch 84/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8593
Epoch 85/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8599
Epoch 86/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8591
Epoch 87/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8589
Epoch 88/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8589
Epoch 89/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8583
Epoch 90/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8583
Epoch 91/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8594
Epoch 92/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8587
Epoch 93/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8587
Epoch 94/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8579
Epoch 95/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8581
Epoch 96/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8587
Epoch 97/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3434 - accuracy: 0.8589
Epoch 98/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8590
Epoch 99/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8601
Epoch 100/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3433 - accuracy: 0.8576

# Part 4 - Making the predictions and evaluating the model
Predicting the result of a single observation
Homework

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer ?

In [27]:
print(ann.predict(sc.transform([[0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1/1 [==============================] - 0s 195ms/step
[[ True]]

In [28]:
y_pred = ann.predict(x_test)

94/94 [==============================] - 0s 2ms/step

### Predicting the Test set results

In [31]:
y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

94/94 [==============================] - 0s 2ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 1]]

### Making the Confusion Matrix

In [32]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[2307   72]
 [ 351  270]]

0.859

# Bank Customer Churn Prediction using Artificial Neural Networks (ANN)

## Introduction

Customer churn, the phenomenon where customers discontinue their relationship with a business, is a significant concern in the banking industry. Predicting customer churn can help banks take proactive measures to retain valuable customers. This project aims to develop a predictive model using Artificial Neural Networks (ANN), a type of deep learning algorithm, to identify customers who are likely to churn.

## Dataset

The dataset used for training and evaluation consists of customer information obtained from a bank. It includes various attributes such as age, gender, account balance, transaction history, etc., along with a binary label indicating whether the customer has churned or not. The dataset is not included in this repository due to its size, but a sample dataset or your own dataset can be used to replicate the project.

## Methodology

The project follows the following steps to predict customer churn:

1. Data Preprocessing: The raw dataset is preprocessed to handle missing values, categorical variables, and feature scaling. Data is divided into training and testing sets.

2. Model Architecture: An ANN model is constructed using TensorFlow. The architecture includes an input layer, one or more hidden layers, and an output layer. Activation functions, dropout, and batch normalization techniques may be employed to enhance model performance.

3. Model Training: The ANN model is trained using the preprocessed training dataset. The training process involves forward propagation, backpropagation, and weight optimization using gradient descent algorithms. The model is iteratively trained on the data to minimize the prediction error.

4. Model Evaluation: The trained model is evaluated using the preprocessed testing dataset. Evaluation metrics such as accuracy, precision, recall, and F1-score are calculated to assess the model's performance in predicting customer churn.

5. Prediction: The trained model can be used to make predictions on new, unseen customer data. The input data needs to be preprocessed in the same manner as the training data before being fed into the model.


Conclusion

The Bank Customer Churn Prediction project demonstrates the application of Artificial Neural Networks (ANN) for predicting customer churn in the banking industry. By training an ANN model on customer data, banks can proactively identify customers who are likely to churn and take appropriate measures to retain them. The project provides a foundation for further research and development in customer churn prediction using deep learning techniques.